$main-font: "Karla";

$small: 648px;
$medium: 960px;
$large: 1200px;

// Colors
$black: rgb(10, 10, 10);
$black-bis: rgb(18, 18, 18);
$black-ter: rgb(36, 36, 36);
$white: rgb(255, 255, 255);
$white-bis: rgb(250, 250, 250);
$white-ter: rgb(245, 245, 245);

$grey-darker: rgb(54, 54, 54);
$grey-dark: rgb(74, 74, 74);
$grey: rgb(122, 122, 122);
$grey-light: rgb(181, 181, 181);
$grey-lighter: rgb(219, 219, 219);

$red: rgb(239, 83, 80);
$red-light: rgba(255,158,128 ,1);
$orange: rgb(255, 71, 15);
$yellow: rgba(255,245,157 ,1);
$pink: rgba(239,154,154 ,1);
