
.col {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;

  @for $i from 1 through 12 {
    .row.is-mobile > &.is-#{$i} {
      flex: none;
      width: $i / 12 * 100%;
    }

    .row.is-mobile > &.is-offset-#{$i} {
      margin-left: $i / 12 * 100%;
    }
  }

  @media (min-width: $small) {

    @for $i from 1 through 12 {
      &.is-#{$i}-mobile {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.is-offset-#{$i}-mobile {
        margin-left: $i / 12 * 100%;
      }
    }
  }

  @media (min-width: $medium) {

    @for $i from 1 through 12 {
      &.is-#{$i},
      &.is-#{$i}-tablet {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.is-offset-#{$i},
      &.is-offset-#{$i}-tablet {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @media (min-width: $large) {

    @for $i from 1 through 12 {
      &.is-#{$i}-desktop {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.is-offset-#{$i}-desktop {
        margin-left: $i / 12 * 100%;
      }
    }
  }
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  justify-content: stretch;

  &:last-child {
    margin-bottom: -0.75rem;
  }


  // Modifiers
  &.is-centered {
    justify-content: center;
  }

  &.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    & > .col {
      margin: 0;
      padding: 0;
    }
  }

  &.is-mobile {
    display: flex;
  }

  &.is-multiline {
    flex-wrap: wrap;
  }

  &.is-vcentered {
    align-items: center;
  }

  @media (min-width: $medium) {
    display: flex;
  }
}
